
.card-spe {
  z-index:1000;
}
.card-spe img{
    z-index:1001;
}


/* Need to find a way to fix bug where delay affects hover state */
@media only screen and (max-width: 800px) {
.card-spe:hover {
  transform: translateY(-.25em);
  cursor:pointer;
 }
}
.fade-cccc > * {
  transition: ease all .5s;
}

/* Offsets timing for groups of three. This must be adjusted if there are more than three element per row.*/

.fade-cccc > *:nth-child(3n+1) {
  transition-delay: .1s;
}

.fade-cccc > *:nth-child(3n+2) {
  transition-delay: .1.5s;
}

.fade-cccc > *:nth-child(3n+3) {
  transition-delay: .2s;
}
.fade-cccc > *:nth-child(3n+4) {
  transition-delay: .2.5s;
}
    #modal-bbbb {
        display: none;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 55, 120, 0.75);
        opacity: .50;
        -webkit-opacity: .5;
        -moz-opacity: .5;
        filter: alpha(opacity=50);
        z-index: 1010;
    }
    
    #modal-cccc {
        background: #fff;
         box-shadow: 0px .125em .25em rgba(0, 0, 0, .25);
        display: none;
        height: 600px;
        left: 50%;
        margin: -300px 0 0 -400px;
        padding: 10px;
        position: fixed;
        top: 50%;
        width: 800px;
        z-index: 1011;
    }

    #modal-bbbb.active, #modal-cccc.active {
        display: block;
    }
#modal-clcl{
  float:right;
  margin-right:5px;
  margin-top:5px;
  cursor:pointer;
}


@media only screen and (max-width: 800px) {
.card-spe1:hover {
  transform: translateY(-.25em);
  cursor:pointer;
 }
}
.fade-cccc1 > * {
  transition: ease all .5s;
}

/* Offsets timing for groups of three. This must be adjusted if there are more than three element per row.*/

.fade-cccc1 > *:nth-child(3n+1) {
  transition-delay: .1s;
}

.fade-cccc1 > *:nth-child(3n+2) {
  transition-delay: .2s;
}

.fade-cccc1 > *:nth-child(3n+3) {
  transition-delay: .3s;
}
.fade-cccc1 > *:nth-child(3n+4) {
  transition-delay: .4s;
}
    #modal-bbbb1 {
        display: none;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 55, 120, 0.75);
        opacity: .50;
        -webkit-opacity: .5;
        -moz-opacity: .5;
        filter: alpha(opacity=50);
        z-index: 1010;
    }
    
    #modal-cccc1 {
        background: #fff;
         box-shadow: 0px .125em .25em rgba(0, 0, 0, .25);
        display: none;
        height: 600px;
        left: 50%;
        margin: -300px 0 0 -400px;
        padding: 10px;
        position: fixed;
        top: 50%;
        width: 800px;
        z-index: 1011;
    }

    #modal-bbbb1.active, #modal-cccc1.active {
        display: block;
    }
#modal-clcl1{
  float:right;
  margin-right:5px;
  margin-top:5px;
  cursor:pointer;
}
@media only screen and (max-width: 800px) {
.card-spe2:hover {
  transform: translateY(-.25em);
  cursor:pointer;
 }
}
.fade-cccc2 > * {
  transition: ease all .5s;
}

/* Offsets timing for groups of three. This must be adjusted if there are more than three element per row.*/

.fade-cccc2 > *:nth-child(3n+1) {
  transition-delay: .1s;
}

.fade-cccc2 > *:nth-child(3n+2) {
  transition-delay: .2s;
}

.fade-cccc2 > *:nth-child(3n+3) {
  transition-delay: .3s;
}
.fade-cccc2 > *:nth-child(3n+4) {
  transition-delay: .4s;
}
    #modal-bbbb2 {
        display: none;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 55, 120, 0.75);
        opacity: .50;
        -webkit-opacity: .5;
        -moz-opacity: .5;
        filter: alpha(opacity=50);
        z-index: 1010;
    }
    
    #modal-cccc2 {
        background: #fff;
         box-shadow: 0px .125em .25em rgba(0, 0, 0, .25);
        display: none;
        height: 600px;
        left: 50%;
        margin: -300px 0 0 -400px;
        padding: 10px;
        position: fixed;
        top: 50%;
        width: 800px;
        z-index: 1011;
    }

    #modal-bbbb2.active, #modal-cccc2.active {
        display: block;
    }
#modal-clcl2{
  float:right;
  margin-right:5px;
  margin-top:5px;
  cursor:pointer;
}
@media only screen and (max-width: 800px) {
.card-spe3:hover {
  transform: translateY(-.25em);
  cursor:pointer;
 }
}
.fade-cccc3 > * {
  transition: ease all .5s;
}

/* Offsets timing for groups of three. This must be adjusted if there are more than three element per row.*/

.fade-cccc3 > *:nth-child(3n+1) {
  transition-delay: .1s;
}

.fade-cccc3 > *:nth-child(3n+2) {
  transition-delay: .2s;
}

.fade-cccc3 > *:nth-child(3n+3) {
  transition-delay: .3s;
}
.fade-cccc3 > *:nth-child(3n+4) {
  transition-delay: .4s;
}
    #modal-bbbb3 {
        display: none;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 55, 120, 0.75);
        opacity: .50;
        -webkit-opacity: .5;
        -moz-opacity: .5;
        filter: alpha(opacity=50);
        z-index: 1010;
    }
    
    #modal-cccc3 {
        background: #fff;
         box-shadow: 0px .125em .25em rgba(0, 0, 0, .25);
        display: none;
        height: 600px;
        left: 50%;
        margin: -300px 0 0 -400px;
        padding: 10px;
        position: fixed;
        top: 50%;
        width: 800px;
        z-index: 1011;
    }

    #modal-bbbb3.active, #modal-cccc3.active {
        display: block;
    }
#modal-clcl3{
  float:right;
  margin-right:5px;
  margin-top:5px;
  cursor:pointer;
}
.card-spe4:hover {
  transform: translateY(-.25em);
  cursor:pointer;
 }

.fade-cccc4 > * {
  transition: ease all .5s;
}

/* Offsets timing for groups of three. This must be adjusted if there are more than three element per row.*/

.fade-cccc4 > *:nth-child(3n+1) {
  transition-delay: .1s;
}

.fade-cccc4 > *:nth-child(3n+2) {
  transition-delay: .2s;
}

.fade-cccc4 > *:nth-child(3n+3) {
  transition-delay: .3s;
}
.fade-cccc4 > *:nth-child(3n+4) {
  transition-delay: .4s;
}
    #modal-bbbb4 {
        display: none;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 55, 120, 0.75);
        opacity: .50;
        -webkit-opacity: .5;
        -moz-opacity: .5;
        filter: alpha(opacity=50);
        z-index: 1010;
    }
    
    #modal-cccc4 {
        background: #fff;
         box-shadow: 0px .125em .25em rgba(0, 0, 0, .25);
        display: none;
        height: 600px;
        left: 50%;
        margin: -300px 0 0 -400px;
        padding: 10px;
        position: fixed;
        top: 50%;
        width: 800px;
        z-index: 1011;
    }

    #modal-bbbb4.active, #modal-cccc4.active {
        display: block;
    }
#modal-clcl4{
  float:right;
  margin-right:5px;
  margin-top:5px;
  cursor:pointer;
}
@media only screen and (max-width: 800px) {
.card-spe5:hover {
  transform: translateY(-.25em);
  cursor:pointer;
 }
}
.fade-cccc5 > * {
  transition: ease all .5s;
}

/* Offsets timing for groups of three. This must be adjusted if there are more than three element per row.*/

.fade-cccc5 > *:nth-child(3n+1) {
  transition-delay: .1s;
}

.fade-cccc5 > *:nth-child(3n+2) {
  transition-delay: .2s;
}

.fade-cccc5 > *:nth-child(3n+3) {
  transition-delay: .3s;
}
.fade-cccc5 > *:nth-child(3n+4) {
  transition-delay: .4s;
}
    #modal-bbbb5 {
        display: none;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 55, 120, 0.75);
        opacity: .50;
        -webkit-opacity: .5;
        -moz-opacity: .5;
        filter: alpha(opacity=50);
        z-index: 1010;
    }
    
    #modal-cccc5 {
        background: #fff;
         box-shadow: 0px .125em .25em rgba(0, 0, 0, .25);
        display: none;
        height: 600px;
        left: 50%;
        margin: -300px 0 0 -400px;
        padding: 10px;
        position: fixed;
        top: 50%;
        width: 800px;
        z-index: 1011;
    }

    #modal-bbbb5.active, #modal-cccc5.active {
        display: block;
    }
#modal-clcl5{
  float:right;
  margin-right:5px;
  margin-top:5px;
  cursor:pointer;
}



@media only screen and (max-width: 800px) {

.card-spe6:hover {
  transform: translateY(-.25em);
  cursor:pointer;
 }
}
.fade-cccc6 > * {
  transition: ease all .5s;
}

/* Offsets timing for groups of three. This must be adjusted if there are more than three element per row.*/

.fade-cccc6 > *:nth-child(3n+1) {
  transition-delay: .1s;
}

.fade-cccc6 > *:nth-child(3n+2) {
  transition-delay: .2s;
}

.fade-cccc6 > *:nth-child(3n+3) {
  transition-delay: .3s;
}
.fade-cccc6 > *:nth-child(3n+4) {
  transition-delay: .4s;
}
    #modal-bbbb6 {
        display: none;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 55, 120, 0.75);
        opacity: .50;
        -webkit-opacity: .5;
        -moz-opacity: .5;
        filter: alpha(opacity=50);
        z-index: 1010;
    }
    
    #modal-cccc6 {
        background: #fff;
         box-shadow: 0px .125em .25em rgba(0, 0, 0, .25);
        display: none;
        height: 600px;
        left: 50%;
        margin: -300px 0 0 -400px;
        padding: 10px;
        position: fixed;
        top: 50%;
        width: 800px;
        z-index: 1011;
    }

    #modal-bbbb6.active, #modal-cccc6.active {
        display: block;
    }
#modal-clcl6{
  float:right;
  margin-right:5px;
  margin-top:5px;
  cursor:pointer;
}

