#gallery-display{
   width: 350px !important;
   height: 250px !important;
}


.card-of-category{
   border-radius: 5px;
   background: #e9ecef;
}
.image-category:hover + .card-of-category{
   background: #007b5e !important;
 }
 .image-category:hover + .card-of-category h5{
     color:white !important;
 }
 .card-of-category:hover{
   background: #007b5e !important;
 }
 .card-of-category:hover h5{
   color:white !important;
 } 
@media only screen and (max-width: 600px) {
    .image-category{
       width: 330px !important;
     }
      .imageModal{
      width: 300px !important;
     }
  }
@media only screen and (max-width: 450px) {
    .image-category{
       width: 275px !important;
     } 
  }
@media only screen and (max-width: 700px) {
    .image-category{
       width: 335px !important;
     } 
  }

@media only screen and (max-width: 800px) {
    .image-category{
       width: 370px !important;
    }
}