.my-4{
    font-family: Raleway;
    font-weight: 200;
    font-style: normal;
    font-size: 42px;
    line-height: 1.1em;
    letter-spacing: 0px;
    text-transform: none;
    }
    .sl{
      font-family: Raleway;
    font-weight: 200;
    font-style: normal;
    font-size: 32px;
    line-height: 1.1em;
    letter-spacing: 0px;
    text-transform: none;
    }
    .imgft2{
      cursor: pointer;
    }
    .imgh1{
      width: 140px;
      height:135px;
    }
    .imgh2{
      width: 120px;
      height:135px;
    }
    .imgh3{
      width: 103px;
      height:135px;
    }
    .imgh4{
      width: 114px;
      height:135px;
    }
    .imgh1,.imgh2,.imgh3,.imgh4{
      margin:0 auto;
    }
    .card{
      border:none !important;
    }
    .card{
      margin:0;
      padding:0;

    }
    .mat{
      font-weight: 500;
      font-style: normal;
      font-family: 'Oswald', sans-serif;
      color: #2c352d;
      font-size: 20px;
      line-height: 1.6;
      letter-spacing: 0px;
    }
    .sm-wel{
      font-weight: 400;
    font-style: normal;
    font-family: 'Open Sans', sans-serif;
    color: #7c7c7c;
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0px;
}
    .md-wel{
      font-weight: 400;
    font-style: normal;
    font-family: 'Open Sans', sans-serif;
    color: #7c7c7c;
    font-size: 18px;
    line-height: 1.5;
    letter-spacing: 0px;
}
    .li-wel{
      list-style:none;
      padding:5px;
    }
    .gr{
      width: 540px;
      height:233px;
      margin-top:15px;
      
    }
    
    .price{
      font-weight: 400;
    font-style: normal;
    font-family: 'Oswald', sans-serif;
    color: #84c225;
    font-size: 32px;
    line-height: 1.2;
    letter-spacing: 0px;
    }
    .pri-desc{
    font-weight: 400;
    font-style: normal;
    font-family: 'Open Sans', sans-serif;
    color: #7c7c7c;
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0px;
}
    .btn-join{
      background: #007b5e;
      color:#ffff;
      margin-bottom:30px !important;
      transition: transform .2s;
    }
   
    .card-img-top{
        height : 188px;
      }
      .border-0{
        transition: transform .2s;
      }
      
    .pri-col{
      background: #eee !important;
      transition: transform .2s;
    }
    
    .c-coach{
      transition: transform .2s;
    }
    
    .h-100{
      background: #eeee !important;
      transition: transform .2s;
    }
    @media only screen and (min-width: 800px) {
    .h-100:hover{
      -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
      margin-top: -20px;
      cursor: pointer;
        border-bottom: 3px solid green !important;
    }
    .c-coach:hover{
      -ms-transform: scale(1.06); /* IE 9 */
      -webkit-transform: scale(1.06); /* Safari 3-8 */
      transform: scale(1.06); 
      box-shadow: 1px 10px 16px -5px #aaaa !important;
      cursor: pointer;
    }

    .pri-col:hover{
      -ms-transform: scale(1.06); /* IE 9 */
      -webkit-transform: scale(1.06); /* Safari 3-8 */
      transform: scale(1.06); 
      box-shadow: 1px 10px 16px -5px #aaaa !important;
      cursor: pointer;
    }

    .border-0:hover {
      -ms-transform: scale(1.06); /* IE 9 */
      -webkit-transform: scale(1.06); /* Safari 3-8 */
      transform: scale(1.06); 
      box-shadow: 1px 10px 16px -5px #007b5e !important;
      cursor: pointer;
    }
    .btn-join:hover{
      -ms-transform: scale(1.06); /* IE 9 */
        -webkit-transform: scale(1.06); /* Safari 3-8 */
        transform: scale(1.06); 
        background: #017090;
        color:white;
        cursor: pointer;
    }

    .gr1:hover{
      cursor: pointer;
      -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
      margin-left: -20px;
      cursor: pointer;
        border-right: 3px solid green !important;
    }
    .gr2:hover{
      cursor: pointer;
      -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
      margin-left: 20px !important;
      cursor: pointer;
        border-left: 3px solid green !important;
    }

    .btn-join:hover{
      -ms-transform: scale(1.06); /* IE 9 */
        -webkit-transform: scale(1.06); /* Safari 3-8 */
        transform: scale(1.06); 
        background: #017090;
        color:white;
        cursor: pointer;
    }
  }