.main-con{
    height: 100px;
}
.main-con:hover{
    -ms-transform: scale(1.06); /* IE 9 */
      -webkit-transform: scale(1.06); /* Safari 3-8 */
      transform: scale(1.06); 
      background: #1cc88a !important;
      box-shadow: 1px 10px 16px -5px #aaaa !important;
      cursor: pointer;
      text-decoration: none;
}
h4{
    margin-top:13%;

}
.a{
    text-decoration: none !important;
}