@import url('https://fonts.googleapis.com/css?family=Roboto');
        
        body {
            font-family: 'Roboto', sans-serif;
            background: url("{{asset('/img/login_back.jpg')}}") no-repeat center center fixed;
            background-size: cover;
        }
        .modal-content {
            border:1px solid #007bff;
            right: -18%;
            margin-top: 140px;
            box-shadow: 3px 3px 5px white;
            background-color:rgba(255,255,255,0.6);;
            opacity: .8;
            padding: 0 18px;
            border-radius: 10px;
        }
        #email,#password{
            border:1px solid #007bff;
        }
        img{
            height:130px !important;
        }