/* 
  section {
    background: #eee;
    max-width: 600px;
    margin: 0 auto;
    overflow: hidden;
    display:flex;
    flex-wrap:wrap;
    padding:1%;
    min-height:100vh;
  } */
  .module {
    transform:translateY(150px);
  }
  .module.show {
    animation: come-in 0.8s ease forwards;
  }
  .module.show:nth-child(even) {
    animation: come-in 1.1s ease forwards;
  }
  @keyframes come-in {
    to { transform: translateY(0); }
  }